@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');


*,
body,
html,
*::before,
*::after {
    font-family: "Inter ", sans-serif !important;
}

.theme-dark, .theme-light, :root {
    --font-inter: "Inter","Lucida Sans Unicode","Lucida Sans","Garuda","Verdana","Tahoma",sans-serif!important;
    --typography-heading4-font: 400 var(--font-inter)!important;
    font-weight: 400!important;
  }