@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;600;700&display=swap");

*,
body,
html,
body._a3wf {
  font-family: "Roboto Condensed", sans-serif !important;
}

.theme-dark, .theme-light, :root {
  --font-inter: "Roboto Condensed","Lucida Sans Unicode","Lucida Sans","Garuda","Verdana","Tahoma",sans-serif!important;
  --typography-heading4-font: 400 var(--font-inter)!important;
  font-weight: 400!important;
}